---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if page.url contains "/en/" -%}
    {%- assign page_lang = "en" -%}
  {%- else -%}
    {%- assign page_lang = "fr" -%}
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- if page_lang ==  "en" -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Entries" }}</h2>
    {%- else -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Étapes" }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- for post in site.posts reversed -%}
        {%- if post.url contains "/en/" -%}
          {%- assign post_lang = "en" -%}
        {%- else -%}
          {%- assign post_lang = "fr" -%}
        {%- endif -%}
        {%- if page_lang == post_lang -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
